*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99.1vw;
  height: 100%;
  padding: 40px;
  background-image: url("./assets/alto-angolo-di-panini-triangolari-con-pomodori-e-insalata.jpg");
  background-position: center;
  background-size: cover;
}

.mainContainer h1{
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.containerLista{
  border: 2px solid rgb(236, 232, 151);
  width: 50%;
  text-align: center;
  border-radius: 60px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titoloLista{
  margin: 2rem;
  color: whitesmoke;
}

.searchBar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px; /* Larghezza massima della searchBar */
  margin: 20px auto; /* Margine per centrare la searchBar */
}

.searchBar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.searchBar input[type="text"]:focus {
  border-color: #007bff; /* Colore del bordo quando in focus */
}

.clearButton{
  background-color: transparent;
  position: absolute;
  margin-left: 90%;
  width: 10%;
  height: 100%;
}

.notification{
  position:sticky;
  display: flex;
  flex-flow: column nowrap;
  color: whitesmoke;
  width: 50%;
  justify-content: center;
  left: 40%;
}

@media (max-width: 1150px){
  .containerLista{
    width: 95%;
  }
  .notification{
    left: 35%;
  }
}

@media (max-width: 700px){
  .searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchBar, .searchBar input[type="text"]  {
    width: 90%;
  }
  .clearButton{
    margin-left: 80%;
  }
  .notification{
    left: 0;
    font-size: 16px;
  }
}

@media (max-width: 420px){
  .clearButton{
    margin-left: 75%;
    width: 15%;
    height: 100%;
  }
  .notification{
    font-size: 14px;
    width: 80%;
    left: 0;
  }
}
