*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
}

.mainContainer h1{
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}

.containerLista{
  border: 2px solid rgb(236, 232, 151);
  width: 50%;
  text-align: center;
  border-radius: 60px;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titoloLista{
  margin: 2rem;
  color: whitesmoke;
}

.searchBar {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 500px; /* Larghezza massima della searchBar */
  margin: 10px auto; /* Margine per centrare la searchBar */
}

.searchBar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.searchBar input[type="text"]:focus {
  border-color: #007bff; /* Colore del bordo quando in focus */
}

.clearButton{
  background-color: transparent;
  position: absolute;
  margin-left: 90%;
  width: 10%;
  height: 100%;
}

.notification{
  position:sticky;
  display: flex;
  flex-flow: column nowrap;
  color: whitesmoke;
  width: 50%;
  justify-content: center;
  left: 40%;
}

.notificationNone{
  color: whitesmoke;
}

@media (max-width: 1150px){
  .containerLista{
    width: 95%;
  }
  .notification{
    left: 35%;
  }
}

@media (max-width: 700px){
  .searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchBar, .searchBar input[type="text"]  {
    width: 90%;
  }
  .clearButton{
    margin-left: 80%;
  }
  .notification{
    left: 0;
    font-size: 16px;
  }
  .clearButton2{
    top: 0;
    left: 82.5%;
  }
}

@media (max-width: 420px){
  .clearButton{
    margin-left: 75%;
    width: 15%;
    height: 100%;
  }
  .notification{
    font-size: 14px;
    width: 80%;
    left: 0;
  }
  .clearButton2{
    left: 82%;
  }
  .lastUpdated{
    width: 60%;
  }
}


/* Nascondi la scrollbar verticale e orizzontale */
::-webkit-scrollbar {
  width: 5px; /* Larghezza della scrollbar */
  height: 5px; /* Altezza della scrollbar */
}
::-webkit-scrollbar:hover {
  width: 10px; /* Larghezza della scrollbar */
  height: 5px; /* Altezza della scrollbar */
}

/* Track della scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Colore dello sfondo della scrollbar */
}

/* Thumb della scrollbar (la parte trascinabile) */
::-webkit-scrollbar-thumb {
  background: #007bff; /* Colore del thumb */
  border-radius: 10px; /* Border radius del thumb */
  transition: width 0.3s; /* Aggiungi una transizione per un effetto di smoothness */
}

/* Cambia il colore del thumb quando si passa sopra con il mouse */
::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Colore del thumb al passaggio del mouse */
  width: 10px; /* Larghezza aumentata del thumb al passaggio del mouse */
}

.featureMessage {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  left: 100%;
  width: 100%;
  margin-bottom: 10px;
}

.clearButton2{
  background-color: transparent;
  position: absolute;
  width: 10%;
  height: 100%;
  right: 4%;
}
.featureBtnContainer{
  display: flex;
  width: 90%;
  height: 100%;
}
.featureButton{
  background-color: red;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.toggleNotificationButton {
  background-color: #007bff; /* Colore di sfondo */
  color: #fff; /* Colore del testo */
  border: none; /* Rimuovi il bordo */
  padding: 10px 20px; /* Spaziatura interna */
  cursor: pointer; /* Cambia il cursore al passaggio */
  border-radius: 5px; /* Bordo arrotondato */
  margin-bottom: 10px; /* Margine inferiore */
  font-size: 16px; /* Dimensione del testo */
}

.toggleNotificationButton:hover {
  background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}

.toggleNotificationButton:focus {
  outline: none; /* Rimuovi l'outline al focus */
}

.scrollButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3fade9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.scrollButton:hover {
  background-color: #1e92cc;
}

.whatsappButton {
  position: fixed;
  bottom: 90px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
}

.whatsappButton img {
  width: 50px;
  height: 50px;
  transition: 0.2s ease-in-out;
}

.whatsappButton:hover img {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}

.lastUpdated {
  font-size: 14px;
  opacity: 0.5;
  color: whitesmoke;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.dropdown {
  margin: 10px 0;
}

.dropdown select {
  padding: 10px;
  font-size: 16px;
}

