.list {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   flex-direction: column;
   margin: 1rem;
   position: relative;
}

.list h2{
   font-weight: bolder;
   color: whitesmoke;
   width: 100%;
   overflow: overlay;
}

@media (max-width: 600px){
   .list h2{
      font-size: 1.1em;
   }
}
