.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   flex-direction: column;
   gap: 0.5rem;
   position: relative;
   opacity: 0; /* Impostiamo l'opacità a 0 inizialmente */
   transform: translateX(-20px); /* Spostiamo l'elemento verso sinistra in modo che appaia da sinistra */
   transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out; /* Aggiungiamo una transizione per l'opacità e la trasformazione */
}

.container.fadeIn {
  opacity: 1; /* Al passaggio della classe fadeIn, impostiamo l'opacità a 1 */
  transform: translateX(0); /* Al passaggio della classe fadeIn, riportiamo l'elemento alla posizione originale */
}

.container.fadeOut {
  opacity: 0; /* Al passaggio della classe fadeOut, impostiamo l'opacità a 0 */
  transform: translateX(20px); /* Spostiamo l'elemento verso destra in modo che scompaia verso destra */
}

.newLabel {
   position: absolute; /* Posizione assoluta per sovrapporre la scritta "new" */
   top: 0; /* Posiziona la scritta in alto */
   right: 0; /* Posiziona la scritta a destra */
   background-color: rgba(255, 0, 0, 0.66); /* Colore di sfondo per la scritta "new" */
   color: white; /* Colore del testo per la scritta "new" */
   padding: 3px 6px; /* Padding per la scritta "new" */
   font-size: 18px; /* Dimensione del carattere per la scritta "new" */
   border-radius: 3px; /* Bordi arrotondati per la scritta "new" */
 }

.name {
   color: red;
   text-decoration: none; /* Rimuovi il sottolineato */
   width: 100%;
   padding: 8px;
}

.container a:hover{
   transition: 0.3s ease-in-out; /* Aggiungi una transizione al cambio di colore */
   transform: scale(1.1); /* Effetto di ingrandimento al passaggio del mouse */
}

.container a {
   transition: 0.3s ease-in-out;
}

.menuButton {
   background-color: rgb(12, 72, 226);
   color: white;
   border: none;
   border-radius: 20px;
   padding: 8px 16px;
   cursor: pointer;
   margin-top: 8px; /* Aggiungi margine superiore se necessario */
   transition: background-color 0.3s ease-in-out; /* Aggiungi una transizione al cambio di colore di sfondo */
   margin-bottom: 10px;
   height: 100%;
   font-size: 20px;
}

.menuButton a{
   color: whitesmoke;
   text-decoration: none;

}

.menuButton:hover {
   background-color: rgb(12, 72, 226);; /* Cambia il colore di sfondo al passaggio del mouse */
   transform: scale(1.1);
   transition: transform 0.2s ease-in-out;
}

@media (max-width: 600px){
   .name{
      font-size: 1em;
   }
}
